/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Elijah Collins
   Date:   9/24/19
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body{
    width:95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Image Styles */
img{
    display: block;
    width: 100%;
}

/* Horizontal Navigation Styles */

nav{
    display: block;
    float: left;
    width: 16.66%;
}
nav.Newroad{
    display:block;
}

/* Row Styles */




/* Column Styles */




/* Specials Styles */



/* Award Styles */



/* Footer Styles */

