/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Elijah Collins
   Date:   9/24/19
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body{
    width:95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Image Styles */
img{
    display: block;
    width: 100%;
}

/* Horizontal Navigation Styles */

nav.horizontal > ul > li{
    float: left;
    width: 16.66%;
    display: block;
}
nav a{
    display:block;
}

/* Row Styles */

div.newRow{
    width: 100%;
    clear: both;
    content: "";
    display:table;
}

/* Column Styles */

div[class^="col-"]{
    float: left;
    padding:2%;
    box-sizing: border-box;
}
div class="col-1-1"{
    width:75%;
}
div class="col-2-3"{
    width:75%;
}
div class="col-1-4"{
    width:75%;
}
div class="col-3-4"{
    width:75%;
}

/* Specials Styles */

div.specials{
    min-height: 400px;
    outline-style: dashed;
    color:rgb(71,52,29);
}

/* Award Styles */

div#awardList{
    height:650px;
    overflow: auto;
}
div.awards{
    position: absolute;
    width:30%;
}


/* Footer Styles */

